test:
  out_put_path: ../data/out_put_test/
  time_to_colision: 30 #10segundos
  plane_velocity: 200

algorithm:
  time_max: 30 #1min30seg
  vision:
    type: vision
    min_area: 350
    dirPositveImagem: ../data/imagens/Depth/plane/
    dirNegativeImagem: ../data/imagens/Depth/background/
    dirModels: ../data/models/
    windowSizeX : 80
    windowSizeY : 80
    stepSize : 70

detect:
  vertical_limit: 20
  horizontal_limit: 25
  min_distance: 20
  max_progress_data: 30
  min_progress_data: 10

unreal:
  path:  C:/Users/vinic/OneDrive/Mestrado/Programa/Python/data/control
  file: control.txt

sensors:
  ADS-B:
    reader_path: C:/Users/vinic/OneDrive/Mestrado/Programa/Python/data/log_aviao
    reader_file_prefix: log_voo
    ADS-B_header:
      - icao24
      - callsign
      - origin_country
      - time_position
      - x_position
      - y_position
      - barometric_altitude
      - on_ground
      - velocidade
      - heading
      - vertical_rate
      - geo_altitude
      - squawk
      - spi
      - position_source

  LIDAR:
    save_path: ../data/cloud_points/
    save_file_prefix: test

  Vision:
    show_video: true
